<!DOCTYPE html>

<html lang="en" ng-app="rpApp">
	<head>
		<title>AngularJS Rapid Proto Type</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script data-require="angular.js@*" data-semver="1.2.27" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
		<script data-require="lodash.js@2.4.1" data-semver="2.4.1" src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
		<script src="app/js/app.js"></script>
		
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
	</head>

	<body ng-controller="rpController">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-{{left}}">
					<div class="pull-right">
						<span class="glyphicon-minus" ng-click="resizeLeft('minus')"></span>&nbsp;&nbsp;
						<span class="glyphicon-plus" ng-click="resizeLeft('plus')"></span>
					</div>
					<h4>{{values.banner}}</h4>
					<form>
						<div class="form-group">
							<label for="zxcv">zxcv</label>
							<input class="form-control" id="zxcv" placeholder=".">
						</div>
					</form>
					<button class="btn btn-primary">Yo</button>
				</div>
				<div class="col-md-{{right}}">
					<h4 ng-bind="values.banner"></h4>
					
					<table class="table table-condensed table-bordered table-hover table-striped">
						<caption>Yo Yo Go Gatchet Go</caption>
						<colgroup>
							<col style="background-color:cornsilk">
							<col style="background-color:white">
							<col style="background-color:cornsilk">
						</colgroup>
						<thead>
							<tr>
								<th ng-bind="sum(1, 2)"></th>
								<th ng-bind="addone(4)"></th>
								<th>Blarg</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>one</td>
								<td>two</td>
								<td>three</td>
							</tr>
							<tr>
								<td>one</td>
								<td>two</td>
								<td>word</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td ng-bind="sum(1, 2)"></td>
								<td ng-bind="addone(4)"></td>
								<td>Blarg</td>
							</tr>
						</tfoot>
					</table>
					
				</div>
			</div>
		</div>
	</body>
</html>
