body {
	background-color: #fff;
	color: #000;
	font-size: 0.9em;
	font-family: sans-serif,helvetica;
	margin: 0;
	padding: 0;
}
:link {
	color: #c00;
}
:visited {
	color: #c00;
}
a:hover {
	color: #224;
}
h1 {
	text-align: center;
	margin: 0;
	padding: 0.6em 2em 0.4em;
	background-color: #22437f;
	color: #fff;
	font-weight: normal;
	font-size: 1.75em;
	border-bottom: 2px solid #000;
}
h1 strong {
	font-weight: bold;
}
h2 {
	font-size: 1.1em;
	font-weight: bold;
}
hr {
	display: none;
}
.content {
	padding: 1em 5em;
}
.content-columns {
	/* Setting relative positioning allows for 
	absolute positioning for sub-classes */
	position: relative;
	padding-top: 1em;
}
.content-column-left {
	/* Value for IE/Win; will be overwritten for other browsers */
	width: 47%;
	padding-right: 3%;
	float: left;
	padding-bottom: 2em;
}
.content-column-left hr {
	display: none;
}
.content-column-right {
	/* Values for IE/Win; will be overwritten for other browsers */
	width: 47%;
	padding-left: 3%;
	float: left;
	padding-bottom: 2em;
}
.content-columns>.content-column-left, .content-columns>.content-column-right {
	/* Non-IE/Win */
}
img {
	border: 2px solid #fff;
	padding: 2px;
	margin: 2px;
}
a:hover img {
	border: 2px solid #224;
}
