div.container
   cb-post(*ngFor="let post of posts; let i = index",
           [post]="post",
           [index]="i",
           (deleted)="onDelete(i)")
   hr
   hr
   cb-post([post]="newpost",
           (created)="onCreate()")
