  <mat-card id={{post.id}} *ngIf="post.id && !edit">
    <mat-card-title *ngIf="!index">{{post.attributes.name}}</mat-card-title>
    <mat-card-content>{{post.attributes.post}}</mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent">Quote</button>
      <a (click)="editPost()" mat-button>Edit</a>
      <a (click)="deletePost()" mat-button>Delete</a>
    </mat-card-actions>
  </mat-card>
  <mat-card *ngIf="!post.id || edit">
    <mat-card-title>
      <mat-form-field>
        <input type="text"
               [(ngModel)]="post.attributes.name"
               matInput
               placeholder="Name">
      </mat-form-field>
    </mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <textarea [(ngModel)]="post.attributes.post"
                  matInput
                  placeholder="Post"></textarea>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions *ngIf="!post.id">
      <button (click)="createPost()" mat-raised-button color="primary">Post</button>
      <a (click)="cancelCreate()" mat-button>Cancel</a>
    </mat-card-actions>
    <mat-card-actions *ngIf="edit">
      <button (click)="savePost()" mat-raised-button color="primary">Post</button>
      <a (click)="cancelEdit()" mat-button>Cancel</a>
    </mat-card-actions>
  </mat-card>
