<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <a mat-button routerLink="/" routerLinkActive="active"> Angular Launchpad </a>
  <button mat-button [matMenuTriggerFor]="menu">
    <span> Examples </span>
  </button>
  <mat-menu #menu="matMenu">
    <a mat-menu-item disabled>
      <span>Quiz</span>
    </a>
    <a mat-menu-item disabled>
      <span>Todo</span>
    </a>
    <a mat-menu-item routerLink="/examples/corkboard">
      <span>Cork Board</span>
    </a>
    <a mat-menu-item disabled>
      <span>Generated Graph</span>
    </a>
  </mat-menu>
  <a mat-button *ngIf="user.attributes.permission === 'admin'" routerLink="/admin"> Admin </a>
  <div class="filler"></div>
  {{user.attributes.firstName}} {{user.attributes.lastName}}
  <button mat-button (click)="signIn()" *ngIf="!loggedin">
    Sign In
  </button>
  <button mat-button (click)="signOut()" *ngIf="loggedin">
    Sign Out
  </button>
</mat-toolbar>

<router-outlet></router-outlet>

<ng-template #dialogTemplate>
  <form>
    <label>Name:</label>
    <input type="text" [(ngModel)]="user.name">
    <label>Password:</label>
    <input type="password" [(ngModel)]="user.password">
    <!-- Add buttons or other controls as needed -->
  </form>
</ng-template>