table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border-bottom: 1px solid lightgrey;
    text-align: left;
    padding: 5px;
    padding-right: 12px;
}

th.select, td.select {
    width: 15px;
}

md-radio-button {
    padding-right: 12px;
}

th.centered, td.centered {
    text-align: center;
}

.long {
    width: 450px;
}
